
      <h1>All restaurants</h1>
      <ul class="list-group mb-3">
        <% @restaurants.each do |restaurant| %>
          <li class="list-group-item">
            <%= link_to restaurant.name, restaurant_path(restaurant) %> <%= restaurant.category %>
          </li>
        <% end %>
      </ul>
      <p><%= link_to "New Restaurant", new_restaurant_path %></p>
